* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* A mettre en premier dans n'importe quelle feuille de style CSS */
/* Attention, l'* surcharge le code donc toute modification sera impossible*/

/* Création de variable*/
:root {
  --couleurPrincipale: #000;
  --orange: #f54927;
  --couleur-typographique: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Sofia", cursive;
}

img {
  width: 300px;
  height: 300px;
  margin: 25px auto;
  display: block;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 75px;
  font-family: Arial, Helvetica, sans-serif;
}

#btn-play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  background-color: var(--orange);
  border-radius: 20px;
  transition: all 0.5s ease;
  margin: 20px;
}

#btn-play:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  background-color: var(--couleur-typographique);
  color: var(--orange);
}
